
.container{
  background-color:darkred;
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
  display: flex;
}
.Drawer{
  background-color: white;
  box-sizing: border-box;
  min-height: 650px;
  min-width: 350px;
  padding: 30px;
  box-sizing: border-box;
  border-radius: 5px;
  position: relative;
  padding-right: 10px;
}